.DS_Store
.idea
*.log
tmp/

/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
/.cpcache

dist/
dist.zip
/.clj-kondo/.cache
/.lsp

/.godot/
.import/

build/build-output/

reports/
.plugged/

clips/
